<nav class = "Navbar_Logo">
    <div class="Logo">
        <a href="../Home/Main.html"><p id="Logo_Home_Big" class="Font">DHD</p></a>
        <a href="../Home/Main.html"><p id="Logo_Home_Small">Daejeon Health Data</p></a>
    </div>
</nav>
<nav class = "Navbar">
    <ul class="Menu">
        <li><a href="../Home/Main.html"><p id="Go_Home" class="Font">홈</p></a></li>
        <li><a href="../Bone/Bone_Main.html"><p id="Go_Bone" class="Font">관절</p></a></li>
        <li><a href="../Lung/Lung_Main.html"><p id="Go_Lung" class="Font">폐</p></a></li>
        <li><a href="../HighBlood/HB.html"><p id="Go_HB" class="Font">고혈압</p></a></li>
        <li><a href="../Diabetes/Diabetes.html"><p id="Go_Diabetes" class="Font">당뇨</p></a></li>
        <li><a href="../Cancer/Cancer.html"><p id="Go_Cancer" class="Font">암</p></a></li>
        <li><a href=""><p id="Go_Obesity" class="Font">비만</p></a></li>
        <li><a href=""><p id="Go_Map" class="Font">지도</p></a></li>
    </ul>
</nav>